<nav class="m-nav">
	<div class="m-nav__logo">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none"
			><path
				fill="#FEBD41"
				fill-rule="evenodd"
				d="M37.008 21.34C37.008 9.556 46.562 0 58.347 0s21.34 9.554 21.34 21.34v6.563l6.192-3.575c10.207-5.893 23.259-2.396 29.152 7.811 5.893 10.207 2.396 23.26-7.811 29.152l-5.593 3.229 4.312 2.49c10.207 5.892 13.704 18.944 7.811 29.151-5.893 10.207-18.944 13.704-29.151 7.811l-4.911-2.835v5.566c0 11.786-9.555 21.34-21.34 21.34-11.787 0-21.341-9.554-21.341-21.34v-4.874l-3.713 2.143c-10.207 5.893-23.259 2.396-29.152-7.81-5.893-10.208-2.396-23.26 7.811-29.153l4.312-2.49-5.592-3.228C.467 55.398-3.03 42.346 2.863 32.14c5.893-10.207 18.944-13.704 29.151-7.81l4.993 2.882v-5.87Zm12.947 36.714-8.257-18.6-.594-1.31c-.119-.954.027-1.152.594-1.55 1.188-.833 4.752-1.667 9.623-1.31 3.897.286 7.604 1.906 8.91 2.74l.026.016c.605.386 3.556 2.268 4.727 3.677.13.156.287.34.464.545.715.83 1.744 2.025 2.506 3.267.565.92 6.433 14.298 12.744 28.688 1.854 4.225 3.745 8.538 5.552 12.648l.713 1.667c-.04.517-.705 1.488-3.327 2.026-5.227 1.072-10.773.509-13.781-1.192-6.452-3.646-7.807-5.782-10.242-9.62l-.094-.148-8.79-19.802V81.28c0 5.426-4.404 9.824-9.836 9.824s-9.835-4.398-9.835-9.824c0-4.694 3.296-8.619 7.703-9.592.365-.099.789-.177 1.277-.231 5.785-.642 8.398-8.894 9.412-12.096.212-.669.354-1.117.44-1.23a1.38 1.38 0 0 1 .065-.078Z"
				clip-rule="evenodd"
			/></svg
		>
	</div>
</nav>

<main>
	<section class="m-hero">
		<h1 class="m-hero__title">UI Developer</h1>
		<h2 class="m-hero__subtitle">Design Systems Specialist</h2>
		<h3 class="m-hero__description">
			Currently working at <a
				href="https://benevity.com/"
				target="_blank"
				rel="noreferrer">Benevity</a
			>
		</h3>
	</section>
</main>

<footer class="m-footer">
	<ul class="m-footer__social">
		<li>
			<a href="https://www.linkedin.com/in/maderadiana/" rel="noreferrer">LinkedIn</a>
		</li>
		<li>
			<a href="mailto:anamaderadiana@gmail.com" rel="noreferrer">Email</a>
		</li>
	</ul>
</footer>

<style>
	.m-nav__logo {
		padding: 2rem;
		height: 85px;
	}
	.m-nav__logo svg path {
		transform: translate(5px, 1px) scale(0.65);
	}
	.m-hero {
		padding: 1rem 2rem 0;
		height: calc(100vh - 270px);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 5rem;
		box-sizing: border-box;
	}

	.m-hero__title {
		font-family: "Jost";
		font-size: 7rem;
		line-height: 1;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.m-hero__subtitle {
		font-family: "Jost";
		font-size: 3rem;
		line-height: 1;
		margin: 0;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}

	.m-hero__description {
		font-family: "Jost";
		text-align: center;
	}

	.m-footer {
		height: 60px;
		padding: 2rem;
		background-color: var(--color-purple);
	}

	.m-footer__social {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
	}

	.m-footer__social > li:nth-child(1) {
		padding-right: 16px;
	}

	.m-footer__social > li {
		font-family: "Jost";
	}

	a {
		outline: none;
		text-decoration: none;
		padding: 2px 1px 0;
	}

	a:link,
	a:active,
	a:visited {
		color: var(--color-yellow);
	}

	a:focus,
	a:hover {
		border-bottom: 1px solid;
	}
</style>
